<div class="list-group" data-controller="contacts-list">
  <% contacts.each do |contact| %>
    <%= link_to contact.full_name,
                contact,
                class: "list-group-item list-group-item-action #{'active' if selected_contact == contact}",
                data: {
                  turbo_frame: 'contact_details', turbo_action: :advance,
                  contacts_list_target: 'contact',
                  action: 'click->contacts-list#highlighted'
                }  %>
  <% end %>
</div>
